body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

video, canvas {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
